Q1. Explain with an example each when to use a for loop and a while loop.

Ans 1. 
For loop is a control flow statement that execute code repeatedly for certain number of iteration
and it is used when we know how many time code is going to be executed.
the keyword used is "for" in for loop

While loop is executed till the condition is satisfied or till condition is true
if it is false then it goes to else statement and execute it.
The keyword used in while statement is "while"

Q2. Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.

Ans 2.

In [1]:
Result = 0 
for i in range(1, 11):
    Result = Result + i
Result

55

In [2]:
Number = int(input("Enter the number here: "))
result = 0
i = 1
while i <= Number:
    result = result + i
    i = i + 1
result

Enter the number here:  10

55

Q3. Create a Python program to compute the electricity bill for a household.
    The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
    unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
    be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
    You are required to take the units of electricity consumed in a month from the user as input.
    Your program must pass this test case: when the unit of electricity consumed by the user in a month is
    310, the total electricity bill should be 2250.

Ans 3.

In [3]:
Units_consumed = int(input("Enter the units consumed by the household: "))
Result = 0
if Units_consumed <= 100:
    Result = Units_consumed * 4.5
elif Units_consumed >= 100 and Units_consumed <= 200:
    Result = 450.0 + (Units_consumed - 100) * 6
elif Units_consumed >= 200 and Units_consumed <= 300:
    Result = 450.0 + 600.0 + (Units_consumed - 200) * 10
else:
    Result = 450.0 + 600 + 1000 + (Units_consumed - 300) * 20
print("The total amount of Bill to be paid is: ", Result)

Enter the units consumed by the household:  310

The total amount of Bill to be paid is:  2250.0

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each number
    and if the cube of that number is divisible by 4 or 5 then append that number in a list and print that list.

Ans 4.

In [4]:
Numbers = list(range(1,101))
Cube = []
for i in Numbers:
    i = i**3
    New = Cube.append(i)
print(Cube)
Division_by_4_or_5 = [n**3 for n in Numbers if n**3 % 4 == 0 or n**3 % 5 == 0]
Division = []
Division.append(Division_by_4_or_5)
print(Division)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]
[[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]]

Q5. Write a program to filter count vowels in the below-given string.
    string = "I want to become a data scientist"

In [5]:
string = "I want to become a data scientist"
print(string.count("a"))
print(string.count("e"))
print(string.count("i"))
print(string.count("o"))
print(string.count("u"))

4
3
2
2
0